.remark-container {
  background: black;
  font-family: sans-serif;
}

.remark-code, .remark-inline-code {
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal; 
  font-family: monospace; 
}

#matt {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10000;
}

h1 {
  text-transform: uppercase;
}
